 :root {
     --primary-color: #155a9a;
     --primary-dark: #0e4170;
     --black: #000;
     --white: #fff;
     --light-gray: #f0f0f0;
     --text-gray: #444;
     --text-light: #777;
     --shadow-color: rgba(0, 0, 0, 0.1);
     --shadow-hover: rgba(0, 0, 0, 0.15);
 }


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     margin: 0;
     font-family: Arial, sans-serif;
     background: var(--white);
 }

 .logo-image {
     padding: 20px;
     margin-left: 10%;
 }

 .navbar {
     background-color: var(--primary-color);
     padding: 10px;
 }

 .nav-container {
     max-width: 1200px;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .menu {
     list-style: none;
     display: flex;
     gap: 20px;
 }

 .menu li a {
     color: var(--white);
     text-decoration: none;
     font-size: 18px;
     padding: 8px 18px;
     display: block;
     border-radius: 25px;
 }

 .menu li a:hover {
     background: var(--white);
     color: var(--primary-color);
 }

 .btn {
     background: var(--black);
     color: var(--white);
     padding: 10px 28px;
     border-radius: 25px;
     text-decoration: none;
     font-size: 18px;
 }

 .btn:hover {
     background: var(--primary-dark);
     color: var(--primary-color);
 }

 .homepage-img img {
     width: 100%;
 }

 .about-section {
     max-width: 1200px;
     margin: 60px auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 40px;
     padding: 20px;
 }

 .text-box h4 {
     color: var(--text-light);
     font-size: 18px;
 }

 .text-box h1 {
     color: var(--primary-color);
     font-size: 32px;
     font-weight: 800;
     margin: 10px 0 20px;
 }

 .text-box p {
     line-height: 1.7;
     font-size: 16px;
     color: var(--text-gray);
 }

 .main-image {
     border: 5px solid blue;
     
 }

 .main-image img {
     width: 400px;
     padding-bottom: 20px;
     box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.3);
 }

 button {
     display: block;
     margin: 20px auto;
     padding: 12px 35px;
     border: 2px solid var(--primary-color);
     border-radius: 30px;
     font-size: 18px;
     background: var(--white);
     cursor: pointer;
     transition: 0.3s;

 }

 button:hover {
     background: var(--primary-color);
     color: var(--white);
 }

 .product-section {
     background: var(--light-gray);
     padding: 10px;
 }

 .container {
     max-width: 1200px;
     margin: 60px auto;
     padding: 20px;
 }

 h2 {
     text-align: center;
     margin-bottom: 30px;
     color: var(--primary-color);
 }

 .product {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 25px;
 }

 .card {
     width: 260px;
     background: var(--white);
     padding: 20px;
     text-align: center;
     border-radius: 10px;
     overflow: hidden;
     position: relative;
 }

 .card img {
     width: 90%;
     height: 150px;
     object-fit: cover;
     margin-bottom: 15px;
     transition: transform 0.4s ease-in-out;
 }

 .card:hover img {
     transform: scale(1.2) rotate(3deg);
 }


 .card h3 {
     margin: 10px 0;
 }

 .card p {
     font-size: 14px;
     color: var(--text-gray);
     margin-bottom: 15px;
 }

 .card .btn {
     background: var(--primary-color);
     color: var(--white);
     padding: 8px 20px;
     border-radius: 20px;
     text-decoration: none;
     display: inline-block;
 }

 .card .btn:hover {
     background: var(--primary-dark);
 }


 .inquiry-section {
     background: var(--white);
     padding: 50px 0;
 }
 .inquiry-section::after{
    content: '';
    width: 100px;
    height: 4px;
    background-color: #fff6;
    position: absolute;
    bottom: -16px;
    left: 46%;
 }

 .inquiry-section h2 {
     text-align: center;
     color: #555555;
     margin-bottom: 30px;
 }
 

 .inquiry-container {
     max-width: 900px;
     margin: auto;
 }

 .input-box {
     width: 100%;
     padding: 15px;
     border: 1px solid #ccc;
     border-radius: 5px;
     margin-bottom: 20px;
     font-size: 16px;
 }

 .row {
     display: flex;
     gap: 20px;
 }

 .full {
     width: 100%;
 }

 .btn-center {
     text-align: center;
 }

 .submit-btn {
     background: var(--primary-color);
     color: var(--white);
     padding: 15px 40px;
     border: none;
     border-radius: 30px;
     font-size: 18px;
     cursor: pointer;
 }

 .submit-btn:hover {
     background: var(--primary-dark);
 }

 .whyus {
     background-image: url(https://cdn.d4tcdn.com/staticdt/catalog/temp_9/sect-bg.jpg);
     padding: 40px 0;
 }

 .whyus-heading {
     text-align: center;
     position: relative;
     color: #3582d0;
     font-size: 25px;
     padding: 0 !important;
 }

 .whyus-heading::after {
     content: '';
     width: 100px;
     height: 4px;
     background-color: #fff6;
     position: absolute;
     bottom: -16px;
     left: 46%;
 }

 .whyus .items {
     width: 31%;
     max-height: auto;
     background-color: #ffffff1a;
     border: 1px solid #676767;
     color: #ccc;
     padding: 20px;
     text-align: center;
     border-radius: 10px;
     transition: 0.3s ease-in-out;

 }

 .whyus .icon {
     font-size: 40px;
 }

 .whyus h2 {
     padding: 15px 0;
 }

 .whyus p {
     font-size: 15px;
     line-height: 25px;

 }

 .whyus-items {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 35px;
     margin-top: 50px;
 }

 .whyus .items:hover {
     background-color: #fff;
     border-radius: 30px;
     color: #333;
 }

 .whyus .items:hover .whyus-title {
     color: var(--primary-color);
 }

 
.input-box,
#phone {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.phone-box {
    width: 100%;
}

.submit-btn {
    background: var(--primary-color);
    color: #fff;
    padding: 14px 45px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.submit-btn:hover {
    background: var(--primary-dark);
}
.footer {
    background: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 40px;
}

.footer-box {
    width: 33%;
}

.footer-box h3 {
    margin-bottom: 15px;
    position: relative;
}

.footer-box h3::after {
    content: "";
    width: 40px;
    height: 3px;
    background: #4da3ff;
    display: block;
    margin-top: 6px;
}

.footer-box ul {
    list-style: none;
}
.footer-box p{
    line-height: 1.7;
    color: #ccc;
}

.footer-box ul li {
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.footer-products img {
    width: 100%;
    background: #fff;
    padding: 5px;
    border-radius: 6px;
}


